<div class="container">
      <div class="col-lg-2"><a routerLink="/search-view" class="btn btn-primary btn-round-lg search-btn">Search</a></div>
    
</div>
<div class="container">
  <div class="jumbotron">
    <h1>All Product List</h1>
</div>
<div class="container mx-auto mt-4">
  <div class="row">
    <div *ngFor="let item of productList" class="col-md-3">
      <div class="card" style="width: 14rem">
        <img
        src="data:image/png;base64,{{item.productPicture}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.productName }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ item.productBrand }}</h6>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a routerLink="/product-detail/{{ item.productId }}" class="btn mr-2"
            ><i class="fas fa-link"></i> View Details</a>
          <!-- <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
